table#calendar {
    border: transparent;
}

table#calendar table.calendarmonth {
    border-bottom: 2px solid black;
}

table#calendar table.calendarmonth tr > td:first-child {
    border-left: 2px solid black;
}

table#calendar table.calendarmonth tr > td:last-child {
    border-right: 2px solid black;
}

#calendar .maincalendar {
    border-color: transparent;
}

td.maincalendar div table.calendarmonth tr{
    background-color: #ffe;
}

td.maincalendar div table.calendarmonth tr.weekdays {
    background-color: transparent;
}

td.maincalendar div.header label,
td.maincalendar div.header > form {
    display: none;
}

td.maincalendar div.calendar-controls span.current {
    font-size: 28px;
    color: #336;
    padding-top: -5px;
}

#calendar td.maincalendar tr td.blank {
    border: 0px;
}

#calendar td.maincalendar tr td.today,
#calendar td.maincalendar tr td.today div.day {
    background-color: #eee;
}

#calendar div.buttons {
    padding-top: 3px;
}

#calendar td.maincalendar div.calendar-controls a{
    color: #330000;
}
